Repository steven-oehley/ticket-bounty: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yaml,yml,css}": ["prettier --write"]
}

added script for dev:turbo
  package.json
Due: prettier --write

changed readme
  README.md
Due: prettier --write

added placeholder component, used it ticket page
  src/app/tickets/[ticketId]/page.tsx
  src/components/placeholder.tsx
Due: prettier --write, eslint --fix

updated pre-commit and push hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

updated pre-commit and push hooks with colors
  .husky/pre-commit
  .husky/pre-push
Due: none

removed -e
  .husky/pre-commit
Due: none

added bold and changed blue to yellow
  .husky/pre-commit
  .husky/pre-push
Due: none

abstract ticket item and add feature folder
  src/app/tickets/page.tsx
  src/features/ticket/components/ticket-item.tsx
  src/features/ticket/constants.tsx
  src/features/ticket/types.ts
Due: prettier --write, eslint --fix

add view button and change color
  src/app/globals.css
  src/components/header.tsx
  src/features/ticket/components/ticket-item.tsx
Due: prettier --write, eslint --fix

added showOptions flag
  src/app/tickets/[ticketId]/page.tsx
  src/app/tickets/page.tsx
  src/features/ticket/components/ticket-item.tsx
Due: prettier --write, eslint --fix

add light/dark theme
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/header.tsx
  src/components/theme/theme-provider.tsx
  src/components/theme/theme-switcher.tsx
Due: prettier --write, eslint --fix

fixed max-w values on ticket-item
  src/features/ticket/components/ticket-item.tsx
Due: prettier --write, eslint --fix

added mock server data fetching
  src/app/layout.tsx
  src/app/tickets/[ticketId]/page.tsx
  src/app/tickets/page.tsx
  src/features/ticket/queries/get-ticket.ts
  src/features/ticket/queries/get-tickets.ts
Due: prettier --write, eslint --fix

added comment about page blocking with data fetching
  src/app/tickets/[ticketId]/page.tsx
Due: prettier --write, eslint --fix

added suspense to unblock tickets page
  src/app/tickets/page.tsx
  src/components/spinner.tsx
  src/features/ticket/components/ticket-list.tsx
Due: prettier --write, eslint --fix

added loading and error routes
  src/app/tickets/[ticketId]/loading.tsx
  src/app/tickets/error.tsx
  src/components/placeholder.tsx
  src/components/spinner.tsx
Due: prettier --write, eslint --fix

added not-found page
  package-lock.json
  package.json
  src/app/not-found.tsx
  src/app/tickets/[ticketId]/page.tsx
  src/app/tickets/error.tsx
  src/components/placeholder.tsx
Due: prettier --write, eslint --fix

added prisma
  .gitignore
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
Due: prettier --write, eslint --fix

remove pre-push
  .husky/pre-push
Due: none

add new pre-push
  .husky/pre-push
Due: none

try fix linting
  .prettierignore
  eslint.config.mjs
Due: none

added type check in pre-push
  .husky/pre-push
Due: none

added prisma client and db queries for data
  src/data/data.ts
  src/features/ticket/components/ticket-item.tsx
  src/features/ticket/queries/get-ticket.ts
  src/features/ticket/queries/get-tickets.ts
  src/features/ticket/types.ts
  src/lib/prisma.ts
Due: prettier --write, eslint --fix

implemented a server action in client component
  src/features/ticket/actions/handle-delete-ticket.tsx
  src/features/ticket/components/ticket-item.tsx
  src/features/ticket/components/ticket-list.tsx
Due: prettier --write, eslint --fix

clean up server action use in client component
  src/features/ticket/actions/delete-ticket.tsx
  src/features/ticket/components/ticket-item.tsx
Due: prettier --write, eslint --fix

changed server action usage to be used in server component
  src/features/ticket/components/ticket-item.tsx
Due: prettier --write, eslint --fix

renmove unsused svgs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

added prod script
  package.json
Due: prettier --write

added create ticket form
  package-lock.json
  package.json
  src/app/tickets/page.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/textarea.tsx
  src/features/ticket/components/ticket-create-form.tsx
  src/features/ticket/components/ticket-item.tsx
Due: prettier --write, eslint --fix

added create-ticket action for create-ticket-form
  src/features/ticket/actions/create-ticket.ts
  src/features/ticket/actions/delete-ticket.ts
  src/features/ticket/components/ticket-create-form.tsx
Due: prettier --write, eslint --fix

extract card components to reusable compact-card
  src/app/tickets/page.tsx
  src/components/card-compact.tsx
Due: prettier --write, eslint --fix

added edit page, form and action
  src/app/tickets/[ticketId]/edit/page.tsx
  src/constants/paths.ts
  src/features/ticket/actions/update-ticket.ts
  src/features/ticket/components/ticket-create-form.tsx
  src/features/ticket/components/ticket-item.tsx
  src/features/ticket/components/ticket-update-form.tsx
Due: prettier --write, eslint --fix

refactored create and update forms and actions into single upsert
  src/app/tickets/[ticketId]/edit/page.tsx
  src/app/tickets/page.tsx
  src/features/ticket/actions/create-ticket.ts
  src/features/ticket/actions/update-ticket.ts
  src/features/ticket/actions/upsert-ticket.ts
  src/features/ticket/components/ticket-create-form.tsx
  src/features/ticket/components/ticket-item.tsx
  src/features/ticket/components/ticket-upsert-form.tsx
Due: prettier --write, eslint --fix

edit upset-ticket action to more correct form
  src/features/ticket/actions/upsert-ticket.ts
  src/features/ticket/components/ticket-upsert-form.tsx
Due: prettier --write, eslint --fix

fixed small styling issues
  src/app/tickets/[ticketId]/edit/page.tsx
  src/components/card-compact.tsx
Due: prettier --write, eslint --fix

added progressive enhancement with useTransition
  src/components/spinner.tsx
  src/features/ticket/actions/upsert-ticket.ts
  src/features/ticket/components/ticket-upsert-form.tsx
Due: prettier --write, eslint --fix

replaced useTransition with useFormStatus and abstracted submit button
  src/components/form/submit-btn.tsx
  src/features/ticket/components/ticket-upsert-form.tsx
Due: prettier --write, eslint --fix

replaced useFormStatus with useActionState
  src/features/ticket/actions/upsert-ticket.ts
  src/features/ticket/components/ticket-upsert-form.tsx
Due: prettier --write, eslint --fix

changed favicon and installed zod
  package-lock.json
  package.json
  src/app/favicon.ico
Due: prettier --write
